body{
    /*margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;*/
    margin: 100px;
    border: inset 13px blue;
    border-radius: 15px;
    border-width: thick;
    padding: 15px;
}
div{
    margin: 15px;
    border: 3px blue dotted;
    font-size: 0.5in;
    padding-left: 10px;
    border-top: 3px dotted red;
    border-right: 2px blue solid;
    border-bottom: green double;
    border-left: 3px red groove;
}